$baseFontSize: 16px;

html {
  font-size: $baseFontSize;
}

html,
body,
#__nuxt {
  @apply w-full h-full m-0 p-0;

  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

h1 {
  @apply text-4xl font-bold;
}

blockquote {
  @apply border-l-4 border-gray-400 pl-4 italic my-4;
}

a {
  @apply hover:text-blue-600 underline;
}

ul li {
  @apply list-disc list-inside;
}

ol li {
  @apply list-decimal list-inside;
}
